/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Global Styling */
:root {
    --white: ; /* Define your main color variable */
    --black: ; /* Define your secondary color variable */
    --green: ; /* Define your tertiary color variable */
    --box-shadow: ; /* Define your box shadow variable */
}

/* Reset and Normalize */
*,
*::after,
*::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
}

html {
    font-size: 62.5%;
}

html:focus-within {
    scroll-behavior: smooth;
}
  
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img, picture {
    max-width: 100%;
}

article, aside, footer, header, nav, section {
	display: block;
}

body {
    background-color: #eee;
    overflow-x: hidden;
}

/* Navigation Styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3px;
    margin-bottom: 21px;
    height: 20px;
    position: static; 
}

nav p {
    font-size: 20px;
    align-items: center;
    margin-left: 25px;
    font-weight: 900;
    color: black;
    cursor: default;
    transition: font-size 0.2s;
    transition-timing-function: ease; 
}

nav p:hover{
    font-size:21px;
}

nav p span {
    color: green;
    transition: none;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 25px;
    gap: 0px 10px;
    font-size: 12.5px;
    text-align: center;
    z-index: auto;
}

nav ul li {
    border: hidden;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: border, color, background-color, border-radius;
    transition-timing-function: ease-in;
}

nav ul li:hover {
    border: hidden;
    font-weight: 700;
    background-color: #9ddd7e;
    border-radius: 30px;
}


/* Step 9: Responsive Styles for Navigation */
@media only screen and (max-width: 425px) {
    nav {
        justify-content: space-between;
    }

    nav p {
        margin-left: 3px;
    }

    nav ul {
        gap: 0px 5px;
    }

    nav ul li {
        padding-top: 5px;
        padding-bottom: 5px;
    }   
}

@media only screen and (max-width: 375px){
    nav {
        justify-content: center;
        padding-bottom:43px;
    }
}

/* Slider Section Styling */
section {
    position: static;
    background-color: green;
    height: 180px;
}

.content {
    display:flex;
    height: 180px;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 38px;
}

.content p {
    padding-top: 3px;
    padding-top: 3px;
    font-size: 15px;
}

@media only screen and (max-width: 425px) {
    .content h1 {
        font-size: 35px;
    }
    
    .content p {
        font-size: 12px;
    }
}

/* Main Content Section Styling */
main {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
    margin: 20px 80px;      
    gap: 0px 50px;          
}

.posts {
    display: flex;
    flex-direction: column;
    height: 900px;              
    width: 850px;
    justify-content: space-between;

}

.post {
    display: grid;
    grid-template-columns: 400px 1fr;       
    grid-template-rows: 270px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(209, 209, 209);
    position: static;
}

.post-image {
    overflow: hidden;  
}

.post-image img {
    height: 270px;
    width: fit-content;
    object-fit: cover; 
}

.post-content {
    padding: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
}

.post-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: text;
}

.post-info {
    text-align: start;
    padding: 15px 0px 15px 0px;
    color: black;
    font-size: 16px;
}

.post-summary {
    line-height: 1.6;
    color: rgb(56, 56, 56);
    font-size: 14px;
}

@media only screen and (max-width: 1024px) {
    main {
        margin: 20px 60px;
        gap: 0px 25px;
    }

    .posts {
        height: 900px;
        width: 700px;
    }
    .post {
        grid-template-columns: 300px 400px;
        grid-template-rows: 270px;
    }  
}

@media only screen and (max-width: 768px) {
    main {
        margin: 20px 35px;
        gap: 0px 30px;
        flex-direction: column;
        align-items: center;
    }

    .posts {
        height: 730px;
        width: 550px;
        
    }
    .post {
        grid-template-columns: 180px 400px;
        grid-template-rows: 180px;
    }

    .post-content {
        padding: 10px;
    }

    .post-title {
        padding-right: 40px;
        font-size: 15px;
    }
    
    .post-info {
        padding: 5px 0px 5px 0px;
        font-size: 14px;
    }
    
    .post-summary {
        font-size: 11px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 425px) {
    main {
        flex-direction: column;
        margin: 15px 15px;
        gap: 25px 0px;
    }

    .posts {
        height: 700px;
        width: 400px;
    }
    .post {
        grid-template-columns: 100px 2fr; 
        grid-template-rows: 180px;
    }

    .post-content {
        padding: 10px;
    }

    .post-title {
        padding-right: 0px;
        font-size: 13px;
    }

    .post-info {
        font-size: 12px;
    }
    
    .post-summary {
        font-size: 11px;
        padding-right: 0px;
    }
}

/* Sidebar Styling */
.sidebar {
    text-align: start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: space-between;
}

.popular-posts-side {
    margin:0px 0 20px 0;
    width: 330px;
}

.popular-posts-side h2, .social-side h2 {
    font-size: 16px;
    color: rgb(167, 167, 167);
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 15px;
}

.popular-post {
    position: relative;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 3px 3px 10px rgb(209, 209, 209);
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-between;
    padding: 5px;
    gap: 0px 10px;
    transition: margin-left margin-right;
}

.popular-post:hover {
    margin-left: 5px;
    margin-right: 5px;
}

.popular-post-image {
    width: 35px;
    height: 35px;
}

.popular-post-image img {
    min-width: 35;
    min-height: 35;
    object-fit: cover;
}

.popular-post-title {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.popular-post-desc {
    font-size: 11.5px;
    color: rgb(27, 27, 27);
}

@media only screen and (max-width: 1024px) {
    .popular-posts-side {
        margin:0px 0 5px 0;
        width: 230px;
    }

    .popular-post-image {
        width: 50px;
        height: 50px;
    }
    
    .popular-post-image img {
        min-width: 50px;
        min-height: 50px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        flex-direction: row;
        align-content: space-between;
        gap: 50px;
    }
}

@media only screen and (max-width: 425px){
    .sidebar {
        gap: 10px;
    }
}

.social-side {
    margin:0px 0 20px 0;
    width: 330px;
}

.social-side div {
    display: flex;
    padding: 10px;
    box-shadow: 3px 3px 10px rgb(209, 209, 209);
    background: white;
    border-radius: 5px;
    gap: 15px;
    justify-content: center;
}

.social-side div a {
    max-width: 50px;
    transition: border-radius filter;
}

.social-side div a:hover img {
    border-radius: 9px;
    filter: drop-shadow(2px 2px 10px rgb(209, 209, 209));
}

@media only screen and (max-width: 1024px) {
    .social-side {
        width: 150px;
        margin:0px 0px 3px 0px;
    }

    .social-side div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-side div a {
        max-width: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .social-side {
        width: 250px;
        margin:0px 0px 3px 0px;
    }

    .social-side div {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 425px) {
    .social-side {
        width: 130px;
        padding: 2px 2px 2px 2px;
    }

    .social-side div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .social-side div a {
        max-width: 40px;
    }
}

/* Footer Styling */
footer {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

footer .footerBoxes {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 35px 50px 0px 50px;
}

footer .footerBoxes .footerBox {
    flex-direction: column;
    text-align: start;
}

footer .footerBoxes .footerBox h3 {
    color: whitesmoke;
    font-size: 16.5px;
    font-weight: bold;
    letter-spacing: 0px;
    padding-bottom: 5px;
}

footer .footerBoxes .footerBox hr {
    height: px;
    width: 40px;
    background: rgb(148, 148, 148);
    border: 1px solid rgb(70, 69, 69);
    margin-bottom: 8px;
}

footer .footerBoxes .footerBox p {
    font-size: 13px;
    color: rgb(70, 69, 69);
}

footer .splitter {
    align-items: center;
    height: 0px;
    margin: 30px 25px 5px 25px;
    background: none;
    border: 1px solid rgb(94, 92, 92);
}

.copy-right {
    align-items: center;
    font-size: 13.5px;
    text-align: center;
    opacity: 70%;
    padding: 10px;
}